@media print {
    .noprint { 
        display: none
    }
    .mypages div.compare {
        white-space: normal
    }

    .mypages .compare .estate {
        padding-bottom: 110px
    }
}
@page {
size: auto;
}
